.ks-menu-wrapper {
    position: relative;
    max-width: 860px;
    height: 37px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 28px;
    padding-left: 5px;
}

.ks-menu {
    height: 55px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0px;
    margin: 0px;

    .btn.btn-secondary{
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 5px;
            height: 16px;
            width: 16px;
        }
    }
}

.ks-menu .ks-item {
    display: inline-block;
}

.ks-paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2em;
    padding: 0px;
    outline: none;
    border: none;
    background-color: white;
    &:active, &:focus{
        border: none;
        outline: none;
    }
    svg{
        opacity: 0.6;
    }
}

.ks-left-paddle {
    left: 0;
}

.ks-right-paddle {
    right: 0;
}

.hidden {
    display: none;
}